form{
text-align: center;
width: 350px;
background-color: #FFF;
margin: 1px auto;

padding: 15px;
border-radius: 15px;
}

input{
margin: 10px;
border: 1px solid black;
padding: 4px;

border-radius: 15px;

outline: none;
}


body{
background-image: url(img/fon_reg.PNG);
}

a{
margin-left: 12px;
}

.submite{
width: 160px;
padding: 10px;

color: white;
background-color: black;
}
